<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Glen Paas, veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA" alt="Kursuse bänner">
	<h1>Veebileht</h1>
	<p>See leht sisaldab tõsiseltvöetavat infot</p>
	<hr>
	<h2> Tere tulemast <%=</h2>
	<li><a href ="/logout"> Logi välja</a></li>
	<li><a href="/galleryphotupload">Galeriisse fotode üleslaadimine</a></li>
	<li><a href="/photogallery">Fotogalerii</a></li>
  </ul>
    <h2>Uusim avalik foto</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>
</body>

</html>