<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Glen Paas</title>
</head>
<body>
	<img src="images/test.jpg" alt="Kursuse bänner">
	<h1>Veebileht,</h1>
	<p>mis sisaldab tõsiseltvöetavat</p>
	<hr>
	<ul>
	<li><a href="/signup">Kasutajakonto loomine</a></li>
	<li><a href="/signin">Logi sisse</a></li>
	<li><a href ="/logout"> Logi välja</a></li>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Vanasõnad</a></li>
	<li><a href="/regvisit">Pane oma külastus kirja</a></li>
    <li><a href="/visitlog">Vaata külastusi</a></li>
	<li><a href="/Eestifilm">Eesti film</a></li>
	<li><a href="/galleryphotupload">Galeriisse fotode üleslaadimine</a></li>
	<li><a href="/photogallery">Fotogalerii</a></li>
  </ul>
    <h2>Uusim avalik foto</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>
</body>

</html>