<!DOCTYPE html> 
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>lepaas, veebiprogrammeerimine</title>
  <script> src="esimene.js" ;defer</script>
</head>
<body>
  <img src="vp_banner_2025_TA.jpg" alt="kuruse bänner">
<h1>Lepaas, veebiprogrammeerimine</h1>
<p>See leht on loodud <a href="https://www.tlu.ee"> Tallinna Ülikoolis </a> 
veebiprogrammeerimise kuruse jaoks ja see ei sisalda tähtsat infot</p>
  <hr>
</body>  

</html>